/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
  .content-slide > h1,
  .content-slide2 > h1 {
    font-size: 40px;
  }

  .text-slide > p {
    font-size: 30px;
  }

  .slide {
    background-position: center;
    background-size: cover;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 320px) and (max-width: 1250px) {
  /* ## Menu e Footer para todas as telascom largura abaixo de 1024px.*/

  .menu {
    flex-direction: column;
    height: 0px;
    text-align: center;
    transition: height ease-out 500ms;
    overflow: hidden;
  }

  .menu-bar > label {
    display: block;
  }

  .menu-content {
    display: block;
  }

  .menu li {
    border-bottom: #c7c7c7 dotted 0.7px;
    padding: 10px;
    text-align: center;
    width: 50%;
  }

  .menu.block {
    transition: height ease-in 500ms;
    height: 350px !important;
    overflow: hidden;
    margin-top: 50px;
  }

  .btn-menu {
    margin: auto;
    margin-top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1250px) {
  .hours {
    width: 700px;
    height: 75px;
  }

  .hours > h1 {
    font-size: 20px;
  }

  .Monday-to-Friday > h2,
  .Saturday-to-Sunday > h2 {
    font-size: 17px;
  }

  .Monday-to-Friday > p,
  .Saturday-to-Sunday > p {
    font-size: 15px;
  }

  .hours > img {
    width: 250px;
    height: 199px;
  }

  #footer {
    flex-direction: column;
    width: 700px;
    text-align: center;
  }

  .colum-2,
  .colum-3 {
    margin: auto;
    margin-top: 60px;
  }

  .colum-1 {
    margin: auto;
  }

  .btn-social {
    margin: auto;
    justify-content: center;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 481px) and (max-width: 1250px) {
  .hours {
    width: 700px;
    height: 75px;
  }

  .hours > h1 {
    font-size: 20px;
  }

  .Monday-to-Friday > h2,
  .Saturday-to-Sunday > h2 {
    font-size: 17px;
  }

  .Monday-to-Friday > p,
  .Saturday-to-Sunday > p {
    font-size: 15px;
  }

  .hours > img {
    width: 250px;
    height: 199px;
  }

  #footer {
    flex-direction: column;
    width: 700px;
    text-align: center;
  }

  .colum-2,
  .colum-3 {
    margin: auto;
    margin-top: 60px;
  }

  .colum-1 {
    margin: auto;
  }

  .btn-social {
    margin: auto;
    justify-content: center;
  }

  .slide {
    background-size: cover;
    background-position: center;
  }

  .arrow-slide {
    margin-left: 20px;
    margin-right: 20px;
  }

  .flex-banner {
    display: flex;
    flex-direction: column;
  }

  .content-slide > h1,
  .content-slide2 > h1 {
    font-size: 35px;
  }

  .text-slide > p {
    font-size: 25px;
  }

  .content-slide,
  .content-slide2 {
    margin-right: 20px;
    margin-left: 40px;
  }

  .about-home-text > p {
    width: 350px;
  }

  #food-img,
  #food-img2 {
    width: 400px;
    height: 370px;
  }

  .about-home-img > img {
    width: 350px;
    height: 260px;
  }

  .specials-foods {
    flex-direction: column;
  }

  .food-1 {
    margin-bottom: 20px;
  }

  #food-menu {
    width: 100%;
  }

  .row-food {
    flex-direction: column;
    width: 90%;
    margin: auto;
  }

  .food-item {
    margin: auto;
  }

  .client-review {
    width: 100%;
    margin: auto;
  }

  .client-review > p {
    margin: auto;
    text-align: center;
  }

  .reservation-text {
    width: 90%;
  }

  .form-reservation {
    width: 90%;
  }

  .row-form-reservation > input[type="text"],
  .row-form-reservation > input[type="tel"],
  .row-form-reservation > input[type="email"],
  .row-form-reservation > input[type="datetime"] {
    width: 90%;
  }

  .row-form-reservation {
    flex-direction: column;
    width: 100%;
    margin: auto;
  }

  .special-requeriments {
    width: 100%;
    margin: auto;
  }

  #special-requeriments {
    width: 80% !important;
    margin: auto;
    margin-left: 60px;
    margin-bottom: 20px;
  }

  .button-reserva {
    text-align: center;
  }

  .cards-special-reservations {
    flex-direction: column;
    margin: auto;
    padding: 0;
  }

  .card-special-reservations-1,
  .card-special-reservations-2,
  .card-special-reservations-3 {
    width: 300px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .card-special-reservations-1 > img,
  .card-special-reservations-3 > img {
    width: 300px;
  }

  .hours {
    width: 100%;
  }

  #about-restaurant {
    flex-wrap: wrap;
  }

  .about-home-img {
    margin-top: 20px;
  }

  #footer {
    width: 100%;
  }

  #about {
    width: 100%;
  }

  #about > img {
    width: 90%;
  }

  .functionaries {
    width: 90%;
    justify-content: justify !important;
  }

  .card-staff {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (min-width: 461px) and (max-width: 757px) {
  #food-img,
  #food-img2 {
    width: 35vw;
    height: 35vw;
  }

  .content-slide,
  .content-slide2 {
    margin: auto;
  }

  .content-slide > h1,
  .content-slide2 > h1 {
    font-size: 5vw;
  }

  .text-slide > p {
    font-size: 5vw;
  }

  #orange-text {
    text-align: justify;
  }

  #explore-menu {
    font-size: 3vw;
  }

  .special-food-text {
    width: 90%;
    margin: auto;
  }

  .special-food-text > img {
    width: 100%;
  }

  .contact-bar {
    width: 90%;
    flex-wrap: wrap;
    padding: 10px;
    margin: auto;
  }

  .contact-bar > h1 {
    text-align: center;
    margin: auto;
  }

  .contact {
    width: 100%;
    top: 850px;
  }

  .contact-content {
    width: 100%;
    flex-direction: column;
  }

  .form-text {
    width: 90%;
    margin: auto;
  }

  .contact-content > .form {
    width: 90%;
    margin: auto;
  }

  .map {
    height: 1370px;
  }

  .contact-messege {
    display: flex;
    flex-direction: column;
  }

  #send-contact {
    width: 35vw;
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

/*@media (min-width: 481px) and (max-width: 767px) {
}*/

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
    ##IPHONE 5/SE
  */

@media (min-width: 320px) and (max-width: 480px) {
  .menu > li {
    margin-left: 0px;
  }

  .menu-bar > img {
    width: 200px;
  }

  .banner {
    height: 300px;
  }

  .slide {
    height: 300px;
    margin: auto;
  }

  .arrow-slide {
    margin-right: 5px;
    margin-left: 5px;
  }

  #food-img, #food-img2 {
    width: 35vw;
    height: 35vw;
    margin-left: 6px;
  }

  .content-slide > h1,
  .content-slide2 > h1 {
    font-size: 5vw;
    text-align: justify;
  }

  .text-slide {
    flex-direction: column;
  }

  #white-text {
    margin-bottom: 0px;
  }

  .text-slide > p,
  .content-slide2 > p {
    font-size: 5vw;
    text-align: justify;
  }

  .text-slide > p {
    margin-bottom: 25px;
  }

  .content-slide,
  .content-slide2 {
    margin-left: 10px !important;
    margin-right: 0 !important;
  }

  .page-title {
    font-size: 20px;
  }

  #explore-menu {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 10px;
  }

  .barra {
    margin: auto;
    text-align: center;
  }

  .go-coments,
  .call,
  .contact-bar > h1 {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .contact-bar {
    flex-direction: column;
    height: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    align-items: center;
    width: 90%;
    text-align: center;
    margin: auto;
  }

  .fas .fa-phone-volume {
    margin-left: 10px;
  }

  #pipe,
  #btn-arrow-right {
    display: none;
  }

  .contact-bar > .fa-phone-volume {
    display: none;
  }

  #about-restaurant {
    flex-direction: column;
  }

  .about-home-text > p {
    width: 250px;
    margin: auto;
    margin-bottom: 40px;
  }

  .about-home-text > h1 {
    text-align: center;
  }

  .about-home-text > a {
    text-align: center;
    width: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .about-home-img {
    margin-top: 60px;
  }

  .about-home-img > img {
    width: 300px;
  }

  #todays-special {
    margin-bottom: 20px;
    background-size: cover;
  }

  #todays-special > h1 {
    padding-top: 15px;
  }

  .food-1,
  .food-2 {
    width: 320px;
    margin: auto;
  }

  .specials-foods {
    flex-direction: column;
  }

  .special-food-text > img {
    width: 300px;
  }

  .special-food-text {
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
  }

  #food-menu {
    width: 300px;
    margin: auto;
    margin-top: 100px;
  }

  .row-food {
    flex-direction: column;
    width: 300px;
  }

  .food-item {
    flex-direction: column;
    text-align: center;
    margin-left: 0;
    margin: auto;
  }

  .food-item-text > h2 {
    margin-top: 5px;
  }

  .price-item > p {
    margin-left: 0 !important;
    margin-top: 5px;
  }

  .client-review {
    width: 300px;
  }

  #happy-clients {
    padding-bottom: 20px;
    background-size: cover;
  }

  .hours {
    flex-direction: column;
    height: auto;
    width: 300px;
    justify-content: center;
  }

  .hours > h1 {
    padding-top: 30px;
  }

  .hours > img {
    display: none;
  }

  .Monday-to-Friday,
  .Saturday-to-Sunday {
    padding-top: 20px;
    text-align: center;
  }

  #footer {
    margin-top: 30px;
    flex-direction: column;
    width: 300px;
    padding-top: 0px;
  }

  .colum-1,
  .colum-2,
  .colum-3 {
    width: 300px;
    text-align: center;
    margin: auto;
    padding-top: 50px;
  }

  .email {
    margin-bottom: 10px;
  }

  .btn-social {
    margin: auto;
    text-align: center;
    justify-content: center;
  }

  .all-rights {
    width: 320px;
    margin: auto;
  }

  #reservation {
    width: 350px;
    margin: auto;
  }

  .reservation-text {
    width: 350px;
  }

  .form-reservation {
    width: 350px;
  }

  .row-form-reservation {
    flex-direction: column;
    width: 350px;
  }

  .row-form-reservation > input {
    width: 300px;
  }

  #special-requeriments {
    width: 300px;
    margin: auto;
    margin-left: 15px;
    margin-bottom: 20px;
  }

  #errormsg {
    margin-bottom: 30px;
  }

  .cards-special-reservations {
    flex-direction: column;
    margin: auto;
    padding: 0;
  }

  .card-special-reservations-1,
  .card-special-reservations-2,
  .card-special-reservations-3 {
    width: 300px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .card-special-reservations-1 > img,
  .card-special-reservations-3 > img {
    width: 300px;
  }

  #about {
    width: 100%;
  }

  #about > img {
    width: 300px;
  }

  .functionaries {
    flex-direction: column;
    width: 100%;
  }

  .card-staff {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .contact {
    width: 350px;
    top: 840px;
  }

  .contact-content {
    flex-direction: column;
  }

  .contact-content > .form {
    width: 330px;
    padding-left: 20px;
  }

  .map {
    height: 1500px;
  }

  .contact-messege {
    width: 300px;
  }

  .contact-messege > inout {
    width: 300px;
  }

  .contact-messege > #your-messege {
    width: 300px !important;
  }

  .form-text {
    width: 350px;
    text-align: center;
    padding-left: 0px;
  }

  .sedibar {
    margin: auto;
    margin-bottom: 50px;
  }

  .content-pro {
    flex-direction: column-reverse;
    justify-content: center;
  }
}
